.App {
  text-align: center;
}


body#navbar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Karla';
}


nav#links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
ul.nav{
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
font-weight: 500;
width: 1000px;
}
nav li {
  display: inline-block;
  

}
a:-webkit-any-link{
  text-decoration: none;
  color: black;
}
footer#footer{
  background-color: #495E57;
  display: flex;
  
}
form#bookingForm{
  font-family: 'Karla';
  font-weight: 500;
padding-bottom: 50px;
  display: grid; 
  max-width: 200px; 
  gap: 50px;

  
}
form#bookingForm label{
  font-family: 'Markazi Text';
  font-weight:700;

  
}
body#booking{
  flex-direction: column;
  align-items: center;
  display: flex;

}





